@import "tailwindcss";

* {
  font-family: "Poppins", sans-serif;
}

@layer base {
  button,
  a {
    @apply cursor-pointer;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: #a6ff5d;
  color: #000;
  text-shadow:
    0 0 2px #a6ff5d,
    0 0 5px #a6ff5d;
}

::-moz-selection {
  background-color: #a6ff5d;
  color: #000;
  text-shadow:
    0 0 2px #a6ff5d,
    0 0 5px #a6ff5d;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #0a0a0a;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(166, 255, 93, 0.6);
  border-radius: 9999px;
  border: 2px solid #0a0a0a;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(166, 255, 93, 0.9);
  box-shadow: 0 0 8px rgba(166, 255, 93, 0.6);
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(166, 255, 93, 0.6) #0a0a0a;
}
