@import "tailwindcss";

* {
  font-family: "Poppins", sans-serif;
}

@layer base {
  button,
  a {
    @apply cursor-pointer;
  }
}

::selection {
  background-color: #a6ff5d;
  color: #000;
  text-shadow:
    0 0 2px #a6ff5d,
    0 0 5px #a6ff5d;
}

::-moz-selection {
  background-color: #a6ff5d;
  color: #000;
  text-shadow:
    0 0 2px #a6ff5d,
    0 0 5px #a6ff5d;
}
